*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #343a40;
    line-height: 2;
    display: flex;
    justify-content: center;

}
table{
   /* background-color: red; */
   width: 800px;
    /* border: 1px solid #343a40; */
    font-size: 1.8rem;
    margin-top: 10.0rem;
    text-align: center;
    border-collapse: collapse;
           
}
html{
    font-size: 62.5%;

}
td, th{
    /* border: 1px solid #343a40 ;*/
    padding: 1.6rem 2.4rem;
    width: 27px;
    color: #fff;

}